In [ ]:
pip install pandas sqlite3

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
# Load Titanic dataset from a CSV file (you can change the file path)
file_path = '/content/titantic train.csv'  # Change this to your file's location
data = pd.read_csv(file_path)

# Check the first few rows to understand the structure of the data
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
# Filter the dataset to only include survivors (Survived == 1)
survivors = data[data['Survived'] == 1]

# Handle missing values in the 'Age' column by filling them with the mean age of survivors
survivors['Age'] = survivors['Age'].fillna(survivors['Age'].mean())

# Calculate the average age of survivors
average_age = survivors['Age'].mean()
print(f"Average Age of Survivors: {average_age}")

Average Age of Survivors: 28.343689655172412

<ipython-input-6-2cd7c79fc4a2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survivors['Age'] = survivors['Age'].fillna(survivors['Age'].mean())

In [ ]:
# Save the transformed data to a new CSV file
output_file_path = 'survivors_transformed.csv'
survivors.to_csv(output_file_path, index=False)
print(f"Transformed data saved to {output_file_path}")

Transformed data saved to survivors_transformed.csv

In [ ]:
import sqlite3

# Connect to SQLite database (it will create the database file if it doesn't exist)
conn = sqlite3.connect('titanic_data.db')
cursor = conn.cursor()

# Create table to store the transformed data (you can adjust columns based on your needs)
cursor.execute('''
CREATE TABLE IF NOT EXISTS survivors (
    PassengerId INTEGER PRIMARY KEY,
    Pclass INTEGER,
    Name TEXT,
    Sex TEXT,
    Age REAL,
    SibSp INTEGER,
    Parch INTEGER,
    Fare REAL,
    Embarked TEXT,
    Survived INTEGER
);
''')

# Insert transformed data into the 'survivors' table
survivors.to_sql('survivors', conn, if_exists='replace', index=False)

# Commit the transaction and close the connection
conn.commit()
conn.close()
print("Transformed data loaded into SQLite database")

Transformed data loaded into SQLite database